 .brgcl-info {
     background-color: white;
 }

 .nav-pad>li {
     padding-left: 2em;
     padding-right: 2em;
     font-weight: 600;
     font-size: 16px;
     padding: 1em;

 }

 .nav-col>li {
     color: #000;
 }

 .logo2 {
     text-align: center;
     padding: 1em;
 }

 .logo {
     text-align: center;
     padding: 1em;
 }

 .menuDivShd {
     box-shadow: 0px 0px 5px 5px grey;
 }