<div class="sub-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="menuDivShd">
        <div class="row">
          <div class="col-sm-2">
            <div class="logo">
              <img src="../../../assets/images/IR-logo.png" />
            </div>
          </div>
          <div class="col-sm-8">
            <nav class="navbar navbar-expand-lg navbar-light brgcl-info p-3">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ms-auto nav-pad nav-col">
                    <li class="nav-item">
                      <a class="nav-link mx-2" (click)="openlogin()">LOGIN</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link mx-2"
                        routerLink="/register"
                        routerLinkActive="active"
                        >Register</a
                      >
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link mx-2 dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        >Trains</a
                      >
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                      >
                        <li>
                          <a class="dropdown-item" href="#">BOOK TICKET</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">CANCEL TICKET </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link mx-2 dropdown-toggle"
                        href="#"
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        Enquiry
                      </a>
                      <ul
                        class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLink"
                      >
                        <li>
                          <a class="dropdown-item" href="#">PNR STATUS</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">TRAIN SECHDULE </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-sm-2">
            <div class="logo2">
              <img src="../../../assets/images/Irctc-logo.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
