body {
  margin: 0;
  padding: 0;
  background-color: white; /* Used if the image is unavailable */
}
html,
body {
  height: 100%;
  //   scroll-behavior: smooth;
  //   scroll-padding: 10rem;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
