<div class="row">

    <div _ngcontent-rgb-c49="" class="text-center hidden-xs footer-icons">
        <span _ngcontent-rgb-c49="" style="color: white; font-size: 16px;">Get Connected with us on social
            networks</span>

        <span _ngcontent-rgb-c49="" style="margin-left: 50px;">
            <a _ngcontent-rgb-c49="" style="background: #4867AA;">
                <i _ngcontent-rgb-c49="" class="fa fa-facebook-f"></i>
            </a>
            <a _ngcontent-rgb-c49="" target="_blank" style="background: #FF0000;">
                <i _ngcontent-rgb-c49="" class="fa fa-youtube"></i>

            </a>
            <a _ngcontent-rgb-c49="" style="background: #2e5e86;">
                <i _ngcontent-rgb-c49="" class="fa fa-instagram"></i>
            </a>

            <a _ngcontent-rgb-c49="" style="background: #0270AD;">
                <i _ngcontent-rgb-c49="" class="fa fa-linkedin"></i>
            </a>

            <a _ngcontent-rgb-c49="" style="background: #29A2E0;">
                <i _ngcontent-rgb-c49="" class="fa fa-telegram"></i>
            </a>

            <a _ngcontent-rgb-c49="" style="background: #4C9BE5;">
                <i _ngcontent-rgb-c49="" class="fa fa-twitter"></i>
            </a>
        </span>
    </div>